/* Color variables */

$primary-color:#1D6154;
$secondary-color:#B1663C;
$tertiary-color:#D65353;
$gray-color:#3D3D3D;
$light-gray-color:#EAEAEA;
$lightest-gray-color: #F6F6F6;
$white-color:#FFF;
$black-color:#000;
$icons-color:#7E7E7E;

/* Other variables */

$text-font: 'Work Sans', sans-serif;
$headings-font: 'Syne', sans-serif;
$text-weight:300;
$title-weight:700;
$primary-title-weight:800;
$medium-weight:500;
$btn-border-radius:60px;