#introduction {
	display: flex;
	align-items: center;

    .introduction-image {
        flex: 1;
    }

    img {
        display: block;
	    margin: auto;
	    width: 80%;
    }

    article {
        flex: 1;
    }

    h2{
        margin-bottom: 1em;
    }

    p{
        margin-bottom: 0.5em;
    }
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: toRem(20);
	grid-row-gap: toRem(20);
	margin-top:toRem(91);

    img{
        width: 100%;
    }
}

#portfolio{
    h2{
        text-align: center;
    }

    button{
        margin-left: toRem(31);
    }
}

#contact {
	width: 50%;
    margin: auto;

    >*{
        text-align: center;
    }

    h2{
        margin-bottom: 20px;
    }
}

i.fa-pen-to-square{
	margin-right:8px;
}