header {
	display: flex;
	justify-content: space-between;
	margin: toRem(50) 0;

	nav{
		ul{
			@include flex-center;
			list-style-type: none;
			li{
				padding: 0 toRem(10);
				font-size: 1.2em;
				&:hover{
					color: $secondary-color;
				}

				img{
					width: toRem(19);
				}

				a{
					text-decoration: none;
					&:visited{
						color:$black-color;
					}
				}
			}
		}
	}
}

#edit-bar{
	background-color: $black-color;
	padding:toRem(10) 0;
	text-align: center;
	width: 100%;
	@include pos-fixed;
	z-index: 1;
	.btn--edit{
		color:$white-color;
	}
}