header {
	display: flex;
	justify-content: space-between;
	margin: toRem(50) 0;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	&:hover{
		color: $secondary-color;
	}
}

#edit-bar{
	background-color: $black-color;
	padding:toRem(10) 0;
	text-align: center;
	width: 100%;
	@include pos-fixed;
}