.btn{
	font-family: $headings-font;
	font-weight: 700;
	text-align: center;
	border-radius: $btn-border-radius;
	border:1px solid $primary-color;
	text-decoration: none;
	padding:toRem(9) toRem(30);
	
	&--upload{
		border-color:#CBD6DC;
		background-color: #CBD6DC;
		color:#306685;
		font-family: $text-font;
	}

	&--filter{
		background-color: $white-color;
		color:$primary-color;
		border-color:$primary-color;
		cursor: pointer;
	}

	&--white{
		background-color: $white-color;
		color:$black-color;
		padding: toRem(11) toRem(23);
		display: inline-block;
		border-color: $white-color;
		font-family: 'Work Sans';
	}

	&--disabled{
		color:$white-color;
		background-color: $disabled-color;
		border-color: $disabled-color;
	}

	&--edit{
		background: none;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
		text-decoration: none;
		margin-right: toRem(21);
		font-size: toRem(16);
	}

	&--active{
		color: $white-color;
		background-color: $primary-color;
	}

	&--delete, &--move{
		width: toRem(24);
		background-color:$black-color;
		padding:toRem(4);
		border-radius: toRem(2);
		color:$white-color;
		border:none;
		cursor: pointer;
	}
}

.filters-list{
	gap:toRem(10);
	margin:toRem(51) 0;
	@include flex-center-horiz;
	
}

.underlined-link{
	color:$gray-color;
	font-size:toRem(14);
	text-align: center;
	display: block;

    &:hover{
        color:$secondary-color;
    }
}

.colored-link{
	color:$tertiary-color;
	text-decoration: none;
	font-size:toRem(14);
	text-align: center;
	margin-top:toRem(23);
	display: block;
}