input[type="submit"], .btn, .active-btn, .filter-btn{
	font-family: $headings-font;
	font-weight: 700;
	text-align: center;
	border-radius: $btn-border-radius;
	border:1px solid $primary-color;
	text-decoration: none;
	padding:toRem(9) toRem(30);
}

.filters-list{
	gap:toRem(10);
	margin:toRem(51) 0;
	@include flex-center-horiz;
	
}
.filter-btn{
	background-color: $white-color;
	color:$primary-color;
	border-color:$primary-color;
}

input[type="submit"], .active-btn{
	color: $white-color;
	background-color: $primary-color;
}

input[type="submit"]{
	margin: 2em auto;
	width: toRem(180);
}

.w-btn{
	background-color: $white-color;
	color:$black-color;
	padding: toRem(11) toRem(23);
	display: inline-block;
	border-color: $white-color;
	font-family: 'Work Sans';
}

.underlined-link{
	color:$gray-color;
	font-size:toRem(14);
	text-align: center;
	display: block;

    &:hover{
        color:$secondary-color;
    }
}

.colored-link{
	color:$tertiary-color;
	text-decoration: none;
	font-size:toRem(14);
	text-align: center;
	margin-top:toRem(23);
	display: block;
}

.edit-btn{
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	color:$white-color;
	text-decoration: none;
	margin-right: toRem(21);
	font-size: toRem(16);
}

.edit-btn-alt{
	color:$black-color;
}

.delete-btn{
	background-color:$black-color;
	padding:toRem(4);
	border-radius: toRem(2);
	position: absolute;
	top:toRem(10);
	right:toRem(10);
	color:$white-color;
	border:none;
}