/** Modal styling **/
#js-modal{
	width: 100%;
	height: 100%;
	@include pos-fixed;
	background: rgba(0,0,0,0.8);
	justify-content: center;
	align-items: center;
	animation:fadeIn 300ms ease-in-out;
}

.js-modal-wrapper{
	background-color: #fff;
	border-radius: toRem(10);
	max-width: toRem(630);
	width: 100%;
	text-align: center;
	padding:toRem(30);
	
	h2{
		font-family: 'Work Sans';
		color:#000;
		font-weight: 500;
		font-size: toRem(26);
	}

	.js-modal-buttons{
		display: flex;
		justify-content: flex-end;
	}

	#js-modal-close{
		cursor:pointer;
		font-size:toRem(20);
	}

}


.modal-hidden{
	display: none;
}

#js-modal-gallery{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap:toRem(10);
	margin:toRem(46) 0;

	figure{
		position: relative;
		text-align: left;
	}

	img{
		max-width: 100%;
	}
}

#js-modal-form{
	display: none;
	flex-direction: column;
}

.js-modal-gallery-btn{
	position: absolute;
	top:toRem(10);
	right:toRem(10);
	display: flex;
	flex-direction: row-reverse;
	gap:toRem(4);
}

.file-container{
	background-color:$gray-blue;
	border-radius: toRem(3);
}