h1{
	display: flex;
	flex-direction: column;
	font-family: $headings-font;
	font-size: toRem(22);
	font-weight: 800;
	color: $secondary-color;

    > span {
        font-family: $text-font;
	    font-size:toRem(10);
	    letter-spacing: 0.1em;
    }
}

h2{
	font-family: $headings-font;
	font-weight: 700;
	font-size: toRem(30);
	color: $primary-color;
}